.principal {
    display: flex;
    justify-content: space-around;
}

.contenedor {
   
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 3px solid rgba(9, 4, 1, 0.861);
    background-color: aliceblue;


}
.fila1 {
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
   
}
.cuad {
    display: flex;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    background-color: aqua;
    text-align: center;
    font-size: larger;
    justify-items: center;
    justify-content: center;
   
       
    

}
.fila {
    display: flex;
    flex-direction: row;
}

select {
    padding-top: 10px;
    height: 50px;
    margin-top: 6px;
}
h1, h2 {
    text-align: center;
}

.boton {
    display: flex;
    justify-content: center;
}

input {
    background-color: gray;
    border: 2px solid black ;
    color: black;
    border-radius: 4px;
    height: 50px;

}

.sale {
    font-size: 40px;
    background-color: aquamarine;
    color: black;
    border: 2px solid black ;
    border-radius: 6px;
    width: 300px;
    text-align: center;
   
}